
/* ! reset.css */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ! brandMarketing */

/* body와 기본 텍스트 스타일 */
body {
  margin: 0;
}

div.brandMarketing {
  max-width: 900px;
  margin: auto;
}

div.brandMarketing section {
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

div.brandMarketing section h2{
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 30px;
}

div.brandMarketing section h3 {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 24px;
}

div.brandMarketing section p{
  line-height: 30px;
  margin-bottom: 20px;
}

div.brandMarketing section b{
  font-size: 16px;
  font-weight: 700;
}

div.brandMarketing section h2 ~ ul{
  margin-bottom: 50px;
}

div.brandMarketing section ul {
  list-style: none;
  padding-left: 0;
}

div.brandMarketing section ul li {
  margin-bottom: 10px;
}

button.more {
  padding: 10px 16px;
  border: dashed 1px #014cd5;
  background-color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px 0 50px;
}

/* 카드뉴스 부분: 초기 상태는 숨김 */
.card-detail {
  margin: 20px 0 50px;
  display: none; /* 기본적으로 카드뉴스는 숨겨져 있음 */
}

/* 각 카드의 스타일 */
.card {
  background: #fdfdfd;
  border-left: 6px solid #007aff;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
}

.card h4 {
  margin-top: 0;
  color: #34495e;
  line-height: 40px;
  font-weight: 700;
}

.card ul {
  padding-left: 20px;
}

.card img{
  width:100%; 
  border-radius:10px; 
  margin-top:20px;
}

/* 삼성 카드 스타일 */
.samsung .card {
  border-left-color: blue;
}


/* 애플 카드 스타일 */
.apple .card {
  border-left-color: red;
}


@keyframes growShrink {
  0% {
    font-size: 20px;
  }
  50% {
    font-size: 24px;
  }
  100% {
    font-size: 20px;
  }
}

.finalMessage {
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
  animation: growShrink 2s ease-in-out infinite; /* 글자 커졌다 작아짐 */
  text-align: center;
}

.finalMessageSection {
  margin: 80px 0;
  height: 80px;
}